<div>
    <input type="text" ng-model="profCtrl.playerIdInput"/>
    <button ng-click="profCtrl.loadPlayer(profCtrl.playerIdInput)">Get Profile</button>
    <div>
        <h1>Profile Info</h1>
        {{user.userName}}
    </div>
</div>
<div>
    <label>Instrument</label>
    <input type="text" ng-model="newInstrument.name"/>{{instrument.name}}
    <button ng-click="postInstrument()">New Instrument</button>
    <label>Song</label>
    <input type="text" ng-model="newSong.title"/>
    <button ng-click="postSong()">New Song</button>
</div>
<ul>
    <li ng-repeat="song in songs"><a href="" ng-click="addSongToUser(song.id)">{{song.title}}</a></li>
</ul>
<ul>
    <li ng-repeat="instrument in instruments"><a href="" ng-click="addInstrumentToUser(instrument.id)">{{instrument.name}}</a></li>
</ul>