<!DOCTYPE html>
<html data-ng-app="pitchApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Awesome Sauce</title>
    <link href="/content/bootstrap.min.css" rel="stylesheet" />
    <link href="/content/site.css" rel="stylesheet" />
    <link href="content/loading-bar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="IndexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-ng-click="navbarExpanded = !navbarExpanded" data-target="#collapse-target">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded" id="collapse-target">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a data-ng-click="navbarExpanded = !navbarExpanded" data-target="#collapse-target" data-toggle="collapse" href="#">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a data-ng-click="navbarExpanded = !navbarExpanded" data-target="#collapse-target" data-toggle="collapse" href="#/prof">My Profile</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a data-ng-click="navbarExpanded = !navbarExpanded" data-target="#collapse-target" data-toggle="collapse" href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a data-ng-click="navbarExpanded = !navbarExpanded" data-target="#collapse-target" data-toggle="collapse" href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a data-ng-click="navbarExpanded = !navbarExpanded" data-target="#collapse-target" data-toggle="collapse" href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-ng-view></div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/loading-bar.min.js"></script>
    <script src="~/Scripts/App/main.js"></script>
    <script src="~/Scripts/App/main-config.js"></script>
    <script src="~/Scripts/Controllers/homeController.js"></script>
    <script src="~/Scripts/Controllers/indexController.js"></script>
    <script src="~/Scripts/Controllers/loginController.js"></script>
    <script src="~/Scripts/Controllers/profileController.js"></script>
    <script src="~/Scripts/Controllers/signupController.js"></script>
    <script src="~/Scripts/Factories/authInterceptorService.js"></script>
    <script src="~/Scripts/Factories/authService.js"></script>
    <script src="~/Scripts/Factories/playerFactory.js"></script>
</body>
</html>