/***************************************
 *      GENERAL STYLE/SETUP
 ***************************************/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input, select, textarea {
    max-width: 280px;
}

li {
    list-style: none;
    margin-top: 1px;
}

/****************************************
 *      MODALS
 ****************************************/

.modal-backdrop {
    height: 100%;
}

.modal-title {
    border-bottom: 1px solid grey;
}

.modal-body {
    min-height: 330px;
}

.close {
    float: left;
    position: relative;
    top: 1px;
    left: -3px;
}

.close:hover {
    color: #d00;
}

a.glyphicon.glyphicon-plus {
    text-decoration: none;
}


.tabbed-box {
    border-bottom: 2px solid lightblue;
    border-left: 2px solid lightblue;
    border-right: 2px solid lightblue;
    min-height: 200px;
}

.tab-wrapper h4 {
    font-size: 14px;
    border-radius: 8px 8px 0 0;
    border: 2px solid lightblue;
    border-bottom: none;
    min-height: 18px;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    position: relative;
    top: 2px;
}

h4.override {
    border-bottom: 2px solid lightblue;
    background-color: #f1f1f1;
}

.search-wrapper div {
    padding: 0;
}

.tab-wrapper a {
    color: #333;
    text-decoration: none;
}

.tab-wrapper a:hover {
    color: black;
    font-weight: 500;
}

.unselected-tab a {
    color: #aaa;
}

.search-wrapper input {
    margin-top: 12px;
    margin-bottom: 12px;
}


/***************************************
 *      FLASHES PAGE
 ***************************************/

.checklist {
    display: block;
}

.request p {
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
}

.request ul {
    width: 370px;
    margin: 6px auto;
    padding-left: 84px;
}