<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flashband.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flashband.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>flashband</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$flashband</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lhkwxh6xdy.database.windows.net,1433;Initial Catalog=flashband_db;User ID=flashbanduser@lhkwxh6xdy;Password=f.b.0324" Name="Data Source=tcp:lhkwxh6xdy.database.windows.net,1433;Initial Catalog=flashband_db;User Id=flashbanduser@lhkwxh6xdy;Password=f.b.0324" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Pitch.AuthContext, Pitch" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Pitch.AppContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:lhkwxh6xdy.database.windows.net,1433;Initial Catalog=flashband_db;User ID=flashbanduser@lhkwxh6xdy;Password=f.b.0324" Name="Data Source=tcp:lhkwxh6xdy.database.windows.net,1433;Initial Catalog=flashband_db;User Id=flashbanduser@lhkwxh6xdy;Password=f.b.0324" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Pitch.AppContext, Pitch" MigrationConfiguration="Pitch.Migrations.Configuration, Pitch" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lhkwxh6xdy.database.windows.net,1433;Initial Catalog=flashband_db;User Id=flashbanduser@lhkwxh6xdy;Password=f.b.0324</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pitch.AppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lhkwxh6xdy.database.windows.net,1433;Initial Catalog=flashband_db;User Id=flashbanduser@lhkwxh6xdy;Password=f.b.0324</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Pitch.AppContext" />
  </ItemGroup>
</Project>